﻿<div>
    <ul class="heroes">
        <li *ngFor="#routeName of distinctRoutes"
            (click)="onSelect(routeName)">
            <span class="badge">{{routeName}}</span>
        </li>
    </ul>
</div>