﻿<div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Маршруты</a></li>
        <li role="presentation"><a href="#">Остановки</a></li>
    </ul>

    <routes>
        <div class="loading">Loading</div>
    </routes>
</div>
<script>
    System.import('./lib/spa/main.js').catch(console.log.bind(console));
</script>