﻿@{
    ViewBag.Title = "Main";
    Layout = "_Layout";
}

@section styles
{
    <link href="~/lib/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/css/alertify.core.css" rel="stylesheet" />
    <link href="~/lib/css/alertify.bootstrap.css" rel="stylesheet" />
}

<div id="nav-separator"></div>

<schedule-app>
    <div class="loading">Loading</div>
</schedule-app>
@section scripts
{
    <script src="~/lib/js/alertify.min.js"></script>
@*<script src="~/lib/spa/main.js"></script>*@
}

@section customScript
{
    System.import('./lib/spa/main.js').catch(console.log.bind(console));
}
